node_modules/
dist/
.pnpm-store/
.env
*.log
coverage/
.DS_Store
/prisma/*.db
playwright-report/
test-results/

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa
